
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0e0d0d;
  transition: all ease .23s;

}
body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background-color: #464646;
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffbb00;
}
/* Main Container **************************** */
.main-container{
  overflow: hidden;
  background-color: #0e0d0d;
  height: 100%;
  
}
.home-container{
  background-color: #0e0d0d;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-container{
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider Carousel **************************** */
.slider-header{
  color: rgb(173, 173, 173);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: medium;
}

.slider-header-btn { color: #a39d9d; }
.slider-header-btn:hover{color: #ffbb00;}
.home-slider{
  background-color: #181818;
  box-shadow: 0 0 15px black;
}
.slider-button{
  color: white;
  position: absolute;
  z-index: 10;
  font-size: xx-large;
  top: 50%;
}
.slider-button:hover{ color: #ffbb00; }
.slider-button.left{ left: 0;}
.slider-button.right{ right: 0;}

@media (max-width: 1300px) {
  .main-carousel {
    display: none;
  }
}
.home-up-btn{
  border-radius: 50%;
  background-color: black;
  color: #fffed8;
  box-shadow: 0 0 15px #000000;
}
/* Navbar **************************** */
.main-nav{
  font-family: "Kanit", sans-serif;
    position: relative;
    box-shadow: 4px 0 9px black;
}

.nav-link:hover{
  color: #61fae0;
}

.logo{
  /* font-size: 1.6em; */
  width: 30%;
    font-family: "Unbounded", sans-serif;
    color: white;
    animation: pulse 1s infinite alternate;  
  }

  @keyframes pulse {
    
    100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 40px #0fa;
    }  
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa;
  }
  }
  .search-input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .drop-menu{
    background-color: hsl(0, 0%, 0%, .7);
    backdrop-filter: blur(10px);

  }
  .drop-menu-item{
    margin-left: 1.3em;
    display: flex;
    align-items: center;
    gap: 6%;
  }
  .drop-menu-item:hover{
    color: #61fae0;
  }
.drop-menu .span{
  border-bottom: 1px solid #2e2e2e;
  width: 80%;
  display: flex;
  align-self: center;
}
/*Card **********************************/
.card-container{    
  transition: background-color 0.3s ease-in-out;    
}
.card-container:hover{
  scale: 1.04;
  transition: ease-in-out .28s;
}
.card-container:focus{
  scale: 1.04;
  transition: ease-in-out .28s;
}
.card-container:hover .card-hovered{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.card-container:hover::before{
  content: '';
  background: linear-gradient(180deg,transparent ,#000000 );
  scale: 1.04;
  transition: ease-in-out .28s;
  z-index: -1;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
  .card-badge {
    background-color:#ffbb00;
    font-family: 'Rubik', sans-serif;
    color: black;
    border-radius: 20px;
    font-weight: 500;
  }
  .card-hovered{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
  }
  .movie-title{
    color:#ffbb00;
    font-weight: 500;
  }
  .favorite{
    color: #e00000;
    transition: all ease .23s;
    scale: 1.07;
    animation: heart .23s 4 alternate;  
  }
  @keyframes heart {
    100% {scale: 1;}
    0% {scale: 1.13;}
  }

  .bookmark{
    color: #ffbb00;
    transition: all ease .23s;
    scale: 1.04;
    animation: bookmark .23s 2 alternate;  
  }
  @keyframes bookmark {
    100% {scale: 1;}
    0% {scale: 1.07;}
  }
  .fv-empty:hover{
    scale: 1.1;
    transition:  0.3s ease-in-out;
  }
  .card-play{
    color: rgb(209, 209, 209);
  }
  .card-play:hover{
    color:white;
  }
  
  /* Pagination ********************************* */
  .pagination button{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    background: transparent;
    border: 1px solid white;
    color: #eee;
  }
  .pagination button.active{
    font-weight: 600;
    border-color: #101010;
    background: white;
    color: #101010;
  }
  .pagination button:hover{
    border-color: #ffbb00;
    color: #ffbb00;
    font-weight: 700;
  }


    /* LOADING Animation ***************************/
    .loader {
      width: 48px;
      height: 48px;
      border: 5px solid;
      border-color: #ffbb00 transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
    
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    } 
    /* PLAY VIDEO *************************************/
    .playvid-title{
      color: #c0c0c0;
      font-size: x-large;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .playvid {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid #0000;
      background: linear-gradient(#000, #000) padding-box, linear-gradient(
            var(--angle),
            #0c0005,
            #450920
            /* #110035,
            #540057 */
          ) border-box;
      animation: 2.5s rotate linear infinite;
    }    
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }    
    @property --angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
    
    .play-info-container{
      background: #101010;
      border-radius: 10px;
      box-shadow: 0px 0px 15px black;
    }
    .play-text{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color: white;
    }
    .play-title{
      font-size: larger;
      color: #ffbb00;
    }
    .play-info-sec{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .play-info-p{
      color: #ffbb00;
    }
